html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline;}
body {font-size: 14px;  font-weight:300; margin: 0; padding: 0;   background:#fff; color:#000; font-family:Arial, Helvetica, sans-serif; margin:0 auto;}
.warpper-inner_shipment{min-height: 100%; padding:50px 0px; width:800px;  height:100%; }
.content-inside_shipment{padding-bottom: 50px;   position:relative;  z-index:1; }
h3{margin:0px; padding:0px; font-weight:600;}
.logoShipment{width:100%; padding-bottom: 25px;}
.logoShipment .img{width:30%; text-align:left; }
.logoShipment .text{width:70%; text-align:right; font-size:24px; text-transform:uppercase; font-weight:600;  vertical-align:middle;}
.door{ float:right; text-align:right;}

.loadOrder{ width:100%; clear:both; padding-top: 30px;}
.loadOrder .loadOrder_data{width:55%; padding-bottom: 50px; float: left;}
.loadOrder .loadOrder_data table{border:1px solid #000;  border-collapse: collapse;}
.loadOrder .loadOrder_data table td{padding: 6px 10px;font-size: 14px;white-space: nowrap;overflow:  hidden;text-overflow: ellipsis;  vertical-align: middle; border:1px solid #000;}
.loadOrder .loadOrder_data table tr.spacel{height: 100px;}
.bg_striped tr:nth-child(odd) {background-color: #ccc ; border:1px solid #000; }
.loadOrder .loadOrder_data table.bg_striped td:nth-child(odd){ text-align:right; border-right:1px solid #000;}
.loadOrder .loadOrder_data table.bg_striped td:nth-child(even){ font-weight: 600;}

.loadOrder .quantity{width:40%; float:right;}
.loadOrder .quantity table{border:1px solid #000;  border-collapse: collapse; width:100%;  margin-bottom:50px;}
.loadOrder .quantity table td{padding: 6px 10px;font-size: 14px;white-space: nowrap;overflow:  hidden;text-overflow: ellipsis;  vertical-align: middle; border:1px solid #000; line-height:8px}
.bg_striped tr:nth-child(odd) {border:1px solid #000; }
.bg_striped td:nth-child(odd){ border-right:1px solid #000;}
.SetWidhOfTD tr td:first-child{
  width:22%;
  max-width:100px;
  text-align: left !important;
}

.location{ border-top:1px solid #000; width:100%; clear:both; padding-bottom: 50px;}
.location .location_data{ width:100%; display:inline-black;}
.location .location_data span strong{ font-weight:600; font-size:16px;}
.location table{ width:100%; border:1px solid #000;  border-collapse: collapse; margin-top: 30px; margin-bottom: 20px;}
.location table tr{line-height: 15px;}
.location table tr td{padding: 6px 7px;font-size: 13px;white-space: nowrap;overflow:  hidden;text-overflow: ellipsis;  vertical-align: middle; border:1px solid #000; text-align:left;}
.location table tr td:first-child{text-align:right; }

.verification{ border-top:1px solid #000; width:100%; clear:both; padding-bottom: 50px;}
.verification .verification_data{ width:60%;}
.verification .verification_data span{display:block; text-align:right; line-height:50px}
.create_btn_shipment{float: right;padding: 10px 15px;width: 188px;margin-top: 10px;margin-bottom: 50px;}
.create_btn1_shipment{float: left;padding: 10px 15px;width: 188px;margin-top: 10px;margin-bottom: 50px;}
.logo_icon_shipment{background: url("../../../public/img/logo.png");height: 50px; width: 200px; background-repeat: no-repeat;}
