/*body{*/
/*background-color: white;*/
/*text-align:center;*/
/*padding:55px;*/
/*}*/


/*.center{*/
/*text-align:left;*/
/*}*/

/*#table{*/
/*/!*width:100%;*!/*/
/*/!*max-width:1600px;*!/*/
/*}*/

/*th{*/
/*background-image:url('../img/th.png');*/
/*height:30px;*/
/*background-repeat:no-repeat;*/
/*color:white;*/
/*text-shadow: #012b4d 2px 2px 2px;*/
/*text-align: center;   */
/*}*/

/*td{*/
/*text-indent:5px;*/
/*color:#444;*/
/*border-bottom:1px solid #bbb;*/
/*border-left:1px solid #bbb;*/
/*}*/

/*td.left{*/
/*border-left:1px solid #2e638e;*/
/*}*/

/*td.right{*/
/*border-right:1px solid #2e638e;*/
/*}*/

/*td.bottom{*/
/*border-bottom:1px solid #2e638e;*/
/*}*/

/*.grip{*/
/*width:20px;*/
/*height:15px;*/
/*margin-top:-3px;*/
/*background-image:url('../img/grip.png');*/
/*margin-left:-5px;*/
/*position:relative;*/
/*z-index:88;*/
/*cursor:e-resize;*/
/*background-repeat: no-repeat;*/
/*}*/

/*.grip:hover{*/
/*background-position-x:-20px;*/
/*}*/

/*.dragging .grip{*/
/*background-position-x:-40px;*/
/*}*/
/*.JCLRLastGrip .grip{*/
/*background-position-y:-18px;*/
/*left:-2px;*/
/*}*/
/*#postback{*/
/*margin-bottom:10px;*/
/*}*/


thead.sorted_head tr th {
	background-color: rgb(46,109,164);;
}

th.placeholder{
	background-color: rgb(46,109,164) !important;
}


.sorted_head th {
	cursor: pointer; }
/* line 116, /Users/jonasvonandrian/jquery-sortable/source/css/application.css.sass */
.sorted_head th.placeholder {
	display: block;
	background: red;
	position: relative;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0; }
/* line 124, /Users/jonasvonandrian/jquery-sortable/source/css/application.css.sass */
.sorted_head th.placeholder:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-top-color: red;
	top: -6px;
	margin-left: -5px;
	border-bottom: none; }

.dragged {
	position: absolute;
	top: 0;
	opacity: 0.5;
	z-index: 2000; }


#header-wrap {
	background: #eeeeff;
	position: fixed;
	width: 100%;
	height: 50px;
	top: 0;
	z-index: 1;
}

